manuals/WsConsulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sped.fazenda.gov.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://sped.fazenda.gov.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sped.fazenda.gov.br/">
      <s:element name="ConsultarInformacoesCadastrais">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarInformacoesCadastraisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarInformacoesCadastraisResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarInformacoesIntermediario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GINN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoNI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroIdentificacao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarInformacoesIntermediarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarInformacoesIntermediarioResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarInformacoesPatrocinado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GINN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroIdentificacao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarInformacoesPatrocinadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarInformacoesPatrocinadoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarListaEFinanceira">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="situacaoEFinanceira" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dataInicio" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dataFim" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarListaEFinanceiraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarListaEFinanceiraResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarInformacoesMovimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="situacaoInformacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anoMesInicioVigencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anoMesTerminoVigencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoMovimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoIdentificacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarInformacoesMovimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarInformacoesMovimentoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarInformacoesCadastraisSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarInformacoesCadastrais" />
  </wsdl:message>
  <wsdl:message name="ConsultarInformacoesCadastraisSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarInformacoesCadastraisResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarInformacoesIntermediarioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarInformacoesIntermediario" />
  </wsdl:message>
  <wsdl:message name="ConsultarInformacoesIntermediarioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarInformacoesIntermediarioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarInformacoesPatrocinadoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarInformacoesPatrocinado" />
  </wsdl:message>
  <wsdl:message name="ConsultarInformacoesPatrocinadoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarInformacoesPatrocinadoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarListaEFinanceiraSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarListaEFinanceira" />
  </wsdl:message>
  <wsdl:message name="ConsultarListaEFinanceiraSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarListaEFinanceiraResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarInformacoesMovimentoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarInformacoesMovimento" />
  </wsdl:message>
  <wsdl:message name="ConsultarInformacoesMovimentoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarInformacoesMovimentoResponse" />
  </wsdl:message>
  <wsdl:portType name="WsConsultaSoap">
    <wsdl:operation name="ConsultarInformacoesCadastrais">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servico destinado a Consulta de informacoes cadastrais</wsdl:documentation>
      <wsdl:input message="tns:ConsultarInformacoesCadastraisSoapIn" />
      <wsdl:output message="tns:ConsultarInformacoesCadastraisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacoesIntermediario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado a Consulta de informacoes de Intermediario</wsdl:documentation>
      <wsdl:input message="tns:ConsultarInformacoesIntermediarioSoapIn" />
      <wsdl:output message="tns:ConsultarInformacoesIntermediarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacoesPatrocinado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado a Consulta de informacoes de Patrocinado</wsdl:documentation>
      <wsdl:input message="tns:ConsultarInformacoesPatrocinadoSoapIn" />
      <wsdl:output message="tns:ConsultarInformacoesPatrocinadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarListaEFinanceira">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servico destinado a Consulta de lista de e-Financeira</wsdl:documentation>
      <wsdl:input message="tns:ConsultarListaEFinanceiraSoapIn" />
      <wsdl:output message="tns:ConsultarListaEFinanceiraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacoesMovimento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servico destinado a Consulta de informacoes de movimento</wsdl:documentation>
      <wsdl:input message="tns:ConsultarInformacoesMovimentoSoapIn" />
      <wsdl:output message="tns:ConsultarInformacoesMovimentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsConsultaSoap" type="tns:WsConsultaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarInformacoesCadastrais">
      <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultarInformacoesCadastrais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacoesIntermediario">
      <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultarInformacoesIntermediario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacoesPatrocinado">
      <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultarInformacoesPatrocinado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarListaEFinanceira">
      <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultarListaEFinanceira" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacoesMovimento">
      <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultarInformacoesMovimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsConsultaSoap12" type="tns:WsConsultaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarInformacoesCadastrais">
      <soap12:operation soapAction="http://sped.fazenda.gov.br/ConsultarInformacoesCadastrais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacoesIntermediario">
      <soap12:operation soapAction="http://sped.fazenda.gov.br/ConsultarInformacoesIntermediario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacoesPatrocinado">
      <soap12:operation soapAction="http://sped.fazenda.gov.br/ConsultarInformacoesPatrocinado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarListaEFinanceira">
      <soap12:operation soapAction="http://sped.fazenda.gov.br/ConsultarListaEFinanceira" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacoesMovimento">
      <soap12:operation soapAction="http://sped.fazenda.gov.br/ConsultarInformacoesMovimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsConsulta">
    <wsdl:port name="WsConsultaSoap" binding="tns:WsConsultaSoap">
      <soap:address location="https://efinanc.receita.fazenda.gov.br/WsEFinanceira/WsConsulta.asmx" />
    </wsdl:port>
    <wsdl:port name="WsConsultaSoap12" binding="tns:WsConsultaSoap12">
      <soap12:address location="https://efinanc.receita.fazenda.gov.br/WsEFinanceira/WsConsulta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>