schemes/v1_2_5/evtAberturaeFinanceira-v1_2_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.eFinanceira.gov.br/schemas/evtAberturaeFinanceira/v1_2_1" targetNamespace="http://www.eFinanceira.gov.br/schemas/evtAberturaeFinanceira/v1_2_1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtAberturaeFinanceira">
          <xs:annotation>
            <xs:documentation>Evento de Abertura da eFinanceira</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Identificação de Evento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indRetificacao" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Indicativo de Retificação:
                            1 - Original
                            2 - Retificador
                            3 - Retificador a Pedido
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:pattern value="[1|2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrRecibo" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="15"/>
                          <xs:maxLength value="49" />
                          <xs:pattern value="[0-9]{1,18}[-][0-9]{2}[-][0-9]{3}[-][0-9]{4}[-][0-9]{1,18}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Identificação do ambiente:
                            1 - Produção
                            2 - Homologação
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:pattern value="[1|2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="aplicEmi" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Processo de emissão do evento:
                            1- Emissão com aplicativo da empresa
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:pattern value="[1|2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="verAplic" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Versão do aplicativo de emissão do evento</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideDeclarante" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações de identificação da Entidade Declarante</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="cnpjDeclarante" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>CNPJ da Entidade Declarante</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="14"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoAbertura" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações de Abertura</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="dtInicio" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Data Inicial</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dtFim" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Data Final</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AberturaPP" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações da Abertura referentes a Previdência Privada</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="tpEmpresa" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Tipo de Empresa de Previdência Privada</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>
                          <xs:element name="tpPrevPriv" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Tipo de Empresa de Previdência Privada</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="1"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AberturaMovOpFin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações da Abertura referentes a Operações Financeiras</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="ResponsavelRMF" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Informações do Responsável pela RMF</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>
						  <xs:element name="CNPJ" minOccurs="1" maxOccurs="1">
							<xs:annotation>
							   <xs:documentation>CNPJ da entidade responsável pela RMF</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
							       <xs:minLength value="1"/>
								   <xs:maxLength value="14"/>
								</xs:restriction>
							</xs:simpleType>
						  </xs:element>
                          <xs:element name="CPF" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>CPF</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="11"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Nome" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Nome</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="100"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Setor" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Setor</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="90"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Telefone" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:annotation>
                                <xs:documentation>Telefone do responsável pela RMF</xs:documentation>
                              </xs:annotation>
                              <xs:sequence>
                                <xs:element name="DDD" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>DDD do Telefone</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Numero" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Número do Telefone</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="10"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Ramal" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Ramal</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="4"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Endereco" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:annotation>
                                <xs:documentation>Endereço do responsável pela RMF</xs:documentation>
                              </xs:annotation>
                              <xs:sequence>
                                <xs:element name="Logradouro" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Logradouro</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="100"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Numero" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Número</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="20"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Complemento" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Complemento</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="20"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Bairro" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Bairro</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="100"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="CEP" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Código de Endereçamento Postal do endereço</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="8"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Municipio" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Município</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="100"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="UF" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Unidade da Federação</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RespeFin" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Informações do(s) Responsável(is) pela e-Financeira</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>
                          <xs:element name="CPF" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>CPF</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="11"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Nome" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Nome</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="100"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Setor" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Setor</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="90"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Telefone" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:annotation>
                                <xs:documentation>Telefone do Responsável pela eFinanceira</xs:documentation>
                              </xs:annotation>
                              <xs:sequence>
                                <xs:element name="DDD" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>DDD do Telefone</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Numero" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Número do Telefone</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="10"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Ramal" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Ramal</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="4"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Endereco" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:annotation>
                                <xs:documentation>Endereço do Responsável pela eFinanceira</xs:documentation>
                              </xs:annotation>
                              <xs:sequence>
                                <xs:element name="Logradouro" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Logradouro</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="100"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Numero" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Número</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="20"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Complemento" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Complemento</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="20"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Bairro" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Bairro</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="100"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="CEP" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Código de Endereçamento Postal do endereço</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="8"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Municipio" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Município</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="100"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="UF" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Unidade da Federação</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Email" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>E-mail do Responsável pela e-Financeira</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="60"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RepresLegal" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Informações do Representante Legal</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>
                          <xs:element name="CPF" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>CPF</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="11"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Setor" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Setor</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="90"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Telefone" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:annotation>
                                <xs:documentation>Telefone do Representante Legal</xs:documentation>
                              </xs:annotation>
                              <xs:sequence>
                                <xs:element name="DDD" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>DDD do Telefone</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Numero" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Número do Telefone</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="10"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Ramal" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Ramal</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="4"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required" >
              <xs:annotation>
                <xs:documentation>Identificador que representa unicamente o evento no sistema para a mesma entidade e mesmo tipo</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:ID">
                  <xs:minLength value="13" />
                  <xs:maxLength value="20" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
