schemes/v1_2_5/evtMovPP-v1_2_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.eFinanceira.gov.br/schemas/evtMovPP/v1_2_5" targetNamespace="http://www.eFinanceira.gov.br/schemas/evtMovPP/v1_2_5" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../../Comum/xmldsig-core-schema.xsd"/>
  <xs:element name="eFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtMovPP">
          <xs:annotation>
            <xs:documentation>Informações do evento</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>

              <xs:element name="ideEvento" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Identificação de Evento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indRetificacao" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Identifica se o evento que está sendo enviado é um evento Original ou um evento de retificação, para realizar a substituição do evento original enviado anteriormente:
                            1 - Original
                            2 - Retificador
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="[1|2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrRecibo" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="15"/>
                          <xs:maxLength value="49"/>
                          <xs:pattern value="[0-9]{1,18}[-][0-9]{2}[-][0-9]{3}[-][0-9]{4}[-][0-9]{1,18}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Identificação do ambiente:
                            1 - Produção
                            2 - Homologação
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="[1|2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="aplicEmi" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Processo de emissão do evento:
                            1- Emissão com aplicativo da empresa
                            2- Outros
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="[1|2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="verAplic" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Versão do aplicativo de emissão do evento</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="ideDeclarante" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações de identificação da empresa declarante</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="cnpjDeclarante" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>CNPJ do Declarante</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="14"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="ideDeclarado" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Identificação do Declarado</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="tpNI" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Tipo de NI</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            1 - CPF
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="NIDeclarado" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Informações de identificação do declarado</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="25"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="NomeDeclarado" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Nome do declarado</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="90"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="mesCaixa" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Fechamento do mês</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="anoMesCaixa" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Mês caixa que está sendo reportado</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="6"  />
                          <xs:pattern value="20([0-9][0-9])(0[1-9]|1[0-3])"/>
                          <!--yyyymm aceitando mês 13 também por causa do 13o-->
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:element name="infoPrevPriv" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Informações do produto de previdência privada</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>

                          <xs:element name="numProposta" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Número da proposta</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="10"  />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="numProcesso" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Número do processo</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="20"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="Produto" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:annotation>
                                <xs:documentation>Informações do tipo de produto e da opção de tributação</xs:documentation>
                              </xs:annotation>
                              <xs:sequence>

                                <xs:element name="tpProduto" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Tipo do produto</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:totalDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>

                                <xs:element name="opcaoTributacao" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Opção de tributação: 1 - Regime de tributação progressivo ou 2 - Regime de tributação regressivo</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:pattern value="[1|2]"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>

                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="Plano" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:annotation>
                                <xs:documentation>Informações do plano</xs:documentation>
                              </xs:annotation>
                              <xs:sequence>

                                <xs:element name="tpPlano" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Tipo do plano</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:totalDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>

                                <xs:element name="planoFechado" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Identifica se Plano fechado ou não: 0= Não 1=Sim</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:pattern value="[0|1]"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>

                                <xs:element name="cnpjPlano" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>CNPJ do plano de previdência complementar</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="14"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>

                                <xs:element name="tpPlanoFechado" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>
                                        Tipo de plano fechado:
                                        1-Plano fechado de que trata o §15 do art. 40 da Constituição Federal
                                        2-Outro tipo de plano fechado
                                      </xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:pattern value="[1|2]"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="opPrevPriv" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Previdência Privada Aplicações e Resgates</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>

                                <xs:element name="saldoInicial" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Informações a respeito do saldo inicial do movimento da previdência privada do declarante</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="vlrPrincipal" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor do saldo principal no início do movimento de previdência privada</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrRendimentos" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor dos rendimentos no início do movimento de previdência privada</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>

                                <xs:element name="aplic" minOccurs="0" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation>Informações das aplicações em previdência privada do declarante</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>

                                      <xs:element name="vlrContribuicao" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor total da contribuição de depósito ou aporte do declarado em previdência privada para o mês caixa informado</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrCarregamento" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor total cobrado pela manutenção ou gerenciamento  do plano de previdência privada.</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrPartPF" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor da Participação da PF – Totalização no Mês Caixa</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrPartPJ" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor da Participação da PJ – Totalização no Mês Caixa</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="cnpj" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>CNPJ da Entidade Responsável pela Aplicação</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="14"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>

                                <xs:element name="resg" minOccurs="0" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation>Informações dos resgates em previdência privada do declarante</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>

                                      <xs:element name="vlrAliquotaIRRF" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Alíquota IRRF</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="8"/>
                                            <xs:pattern value="[0-9]{1,5}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="numAnosCarencia" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Carência de Tributação na Tabela Regressiva de Prazo de Aplicação</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="5"/>
                                            <xs:pattern value="[0-9]{1,2}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrResgatePrincipal" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor do Resgate Principal – Totalização no Mês Caixa, por Alíquota</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrResgateRendimentos" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor do Resgate dos rendimentos – Totalização no Mês Caixa, por Alíquota</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrIRRF" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>IRRF – Totalização no Mês Caixa, por Alíquota</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>

                                <xs:element name="benef" minOccurs="0" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation>Informações dos benefícios de previdência privada do declarante</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="tpNI" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>
                                              Tipo do NI:
                                              1 - CPF
                                            </xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:unsignedByte">
                                            <xs:pattern value="[1]{1}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="NIParticipante" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>NI do titular responsavel pelo pagamento das contribuicoes PF do Plano. Pode não ser o declarado</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="11"  />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="CodReceita" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Código da Receita de retenção de IRR</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:unsignedInt">
                                            <xs:totalDigits value="4"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="PrazoVigencia" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Número de meses restantes para recebimento do benefício. Se vitalício, informar 999</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:unsignedInt">
                                            <xs:totalDigits value="3"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrMensalInicial" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Corresponde ao valor da primeira parcela de renda paga</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrBruto" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor sem a retenção de IRRF</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrLiquido" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor após retenção do IRRF</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrIRRF" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor do IRRF</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrAliquotaIRRF" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Alíquota do IRRF</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="19"/>
                                            <xs:pattern value="[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="competenciaPgto" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Mês de pagamento da parcela do benefício. Pode ser igual ou maior que o mês caixa</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="0?[1-9]{1}|1[0-3]{1}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                
                                <xs:element name="portabilidade" minOccurs="0" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation>Informações de Portabilidade</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="indPortabilidade" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>
                                              Indicativo de entrada e saída do participante do plano de previdência privada advindo ou indo de ou para outro plano:
                                              1 = entrada
                                              2 = saída
                                            </xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:unsignedByte">
                                            <xs:pattern value="[1|2]"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="CNPJ" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>CNPJ da administradora do plano para quem se está enviando ou recebendo o valor</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="14"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="CNPB_numProcesso" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>CNPB - Cadastro Nacional de Plano de Benefício-Previc ou Número de Processo-Susep</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[0-9]{1,20}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrPortabilidade" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor da Portabilidade</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                
                                <xs:element name="saldoFinal" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Informações a respeito do saldo final do movimento da previdência privada do declarante</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="vlrPrincipal" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor final do saldo principal de previdência privada no Mês Caixa</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="vlrRendimentos" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor final dos rendimentos de previdência privada no Mês Caixa</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="20"/>
                                            <xs:pattern value="[-]?[0-9]{1,16}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>

                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>



                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
            <xs:attribute name="id" use="required" >
              <xs:annotation>
                <xs:documentation>Identificador que representa unicamente o evento no sistema para a mesma empresa</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:ID">
                  <xs:minLength value="13"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

