schemes/v1_2_5/retornoLoteEventosAssincrono-v1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0.0"
           xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.eFinanceira.gov.br/schemas/retornoLoteEventosAssincrono/v1_0_0"
           targetNamespace="http://www.eFinanceira.gov.br/schemas/retornoLoteEventosAssincrono/v1_0_0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../comum/xmldsig-core-schema.xsd"/>

  <xs:element name="eFinanceira">
    <xs:annotation>
      <xs:documentation>Elemento raiz.</xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element name="retornoLoteEventosAssincrono">
          <xs:annotation>
            <xs:documentation>Retorno da recepção/processamento do lote assíncrono.</xs:documentation>
          </xs:annotation>

          <xs:complexType>
            <xs:sequence>

              <xs:element name="cnpjDeclarante" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>CNPJ da Entidade Declarante.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="14"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="status" type="TStatus" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Contém o status atual do lote.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="dadosRecepcaoLote" type="TDadosRecepcao"  minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Contém os dados de recepção do lote.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="dadosProcessamentoLote" type="TDadosProcessamento"  minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Contém os dados de processamento do lote.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="retornoEventos"  minOccurs="0" >
                <xs:annotation>
                  <xs:documentation>Contém o(s) resultado(s) do processamento dos eventos do lote.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence maxOccurs="50">
                    <xs:element name="evento" type="TArquivoeFinanceira"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required" type="xs:ID">
              <xs:annotation>
                <xs:documentation>Identificação única do retorno do Lote.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:complexType name="TDadosRecepcao">
    <xs:annotation>
      <xs:documentation>Define os dados de recepção de um arquivo de lote.</xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="dhRecepcao" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Data hora recepção.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="versaoAplicativoRecepcao">
        <xs:annotation>
          <xs:documentation>Versão do aplicativo de recepção.</xs:documentation>
        </xs:annotation>

        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="protocoloEnvio">
        <xs:annotation>
          <xs:documentation>
            Protocolo gerado na recepção do lote, a ser usado em consulta posterior para obter o resultado do processamento.
            Formato: X.AAAAMM.NNNNNNNNNNNNNNNNNNN
            Onde:
            X = Ambiente de recepção: Produção=1; Produção Restrita=2; Homologação=3; Desenvolvimento=4
            AAAAMM = Ano e Mês em que o lote foi recebido.
            N = Número sequencial (pode variar de 1 a 19 posições)
            Exemplo:
            1.202003.123
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="28" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TDadosProcessamento">
    <xs:annotation>
      <xs:documentation>Define os dados de processamento de um lote de eventos.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dhProcessamento" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Data hora processamento.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="versaoAplicativoProcessamentoLote" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Versão do aplicativo de processamento do lote.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TArquivoeFinanceira">
    <xs:annotation>
      <xs:documentation>
        Define os dados de um arquivo da e-Financeira (evento).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any processContents="skip">
        <xs:annotation>
          <xs:documentation>Contém xml com o retorno do processamento do evento. (conforme Xsd retornoEvento)</xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:ID">
      <xs:annotation>
        <xs:documentation>
          Contém chave de acesso do evento.
          Esta informação é importante para que o próprio XSD consiga detectar se existe
          mais de um evento com mesmo ID no lote e, caso exista, negue sua recepção.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TStatus">
    <xs:annotation>
      <xs:documentation>Contém o status atual do lote.</xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="cdResposta" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            Código de resposta do processamento do lote.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="descResposta">
        <xs:annotation>
          <xs:documentation>Contém a descrição correspondente ao código de resposta.</xs:documentation>
        </xs:annotation>

        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2048" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="ocorrencias" type="TOcorrencias" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Contém as ocorrências encontradas durante a validação.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TOcorrencias">
    <xs:annotation>
      <xs:documentation>Define as ocorrências encontradas.</xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="ocorrencia" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>

            <xs:element name="codigo" type="xs:string">
              <xs:annotation>
                <xs:documentation>Código da ocorrência.</xs:documentation>
              </xs:annotation>
            </xs:element>

            <xs:element name="descricao">
              <xs:annotation>
                <xs:documentation>Descrição da ocorrência.</xs:documentation>
              </xs:annotation>

              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="2048" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="tipo" type="xs:unsignedByte">
              <xs:annotation>
                <xs:documentation>Contém o tipo da ocorrência: 1 - Erro, 2 - Advertência.</xs:documentation>
              </xs:annotation>
            </xs:element>

            <xs:element name="localizacao" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Contém o caminho do registro e/ou campo em que ocorreu o erro.</xs:documentation>
              </xs:annotation>

              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="2048" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>