schemes/v1_5_0/evtFechamentoeFinanceira-v1_5_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.eFinanceira.gov.br/schemas/evtFechamentoeFinanceira/v1_5_0" targetNamespace="http://www.eFinanceira.gov.br/schemas/evtFechamentoeFinanceira/v1_5_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtFechamentoeFinanceira">
          <xs:annotation>
            <xs:documentation>Evento de Fechamento da eFinanceira</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do evento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indRetificacao" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Indicativo de Retificação:
                            1 - para arquivo original;
                            2 - para arquivo de retificação.
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="1"/>
                          <xs:enumeration value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrRecibo" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número do recibo do arquivo a ser retificado</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="15"/>
                          <xs:maxLength value="49"/>
                          <xs:pattern value="[0-9]{1,18}[-][0-9]{2}[-][0-9]{3}[-][0-9]{4}[-][0-9]{1,18}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Identificação do ambiente:
                            1 - produção;
                            2 - homologação.
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="1"/>
                          <xs:enumeration value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="aplicEmi" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Processo de emissão do evento:
                            1 - emissão com aplicativo da empresa;
                            2 - outros.
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="1"/>
                          <xs:enumeration value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="verAplic" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Versão do aplicativo de emissão do evento</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideDeclarante" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações de identificação da entidade declarante</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="cnpjDeclarante" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>CNPJ da entidade declarante</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[0-9A-Z]{14}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoFechamento" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações do Fechamento</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="dtInicio" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Data Inicial no formato AAAA-MM-DD</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:date"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dtFim" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Data Final no formato AAAA-MM-DD</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:date"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="sitEspecial" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          Indicador de situação especial:
                          0 - não se aplica;
                          1 - extinção;
                          2 - fusão;
                          3 - incorporação/incorporada;
                          5 - cisão total.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="0"/>
                          <xs:enumeration value="1"/>
                          <xs:enumeration value="2"/>
                          <xs:enumeration value="3"/>
                          <xs:enumeration value="5"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nadaADeclarar" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          Indicador de nada a declarar no período:
                          1 - nada a declarar no período.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FechamentoPP" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações do Fechamento referentes a Previdência Privada</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="FechamentoPP" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          Indicador de Fechamento da Previdência Privada, com ou sem movimento no período:
                          0 - e-Financeira sem movimento de Previdência Privada no período;
                          1 - e-Financeira com movimento de Previdência Privada no período.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="0"/>
                          <xs:enumeration value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FechamentoMovOpFin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações do Fechamento referentes a Operações Financeiras</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="FechamentoMovOpFin" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          Indicador de Fechamento de Operação Financeira, com ou sem movimento no período:
                          0 - e-Financeira sem movimento de Operação Financeira no período;
                          1 - e-Financeira com movimento de Operação Financeira no período.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="0"/>
                          <xs:enumeration value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ContasAReportarCRS" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Não existem contas a reportar por parte da entidade no conceito de declarante no CRS:
                            0 - Não.
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="0"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ContasAReportarFATCA" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Não existem contas a reportar por parte da entidade no conceito de declarante no FATCA:
                            0 - Não.
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="0"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="EntPatDecExterior" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Indicativo de inexistência de contas a reportar por parte da entidade patrocinada no conceito de declarante no FATCA</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>
                          <xs:element name="GIIN" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>GIIN (Global Intermediary Identification Number)</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="19"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="CNPJ" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>CNPJ referente a entidade patrocinada</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="8"/>
                                <xs:maxLength value="14"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ContasAReportarFATCA" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>
                                Não existem contas a reportar por parte da entidade no conceito de declarante no FATCA:
                                0 - Não.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:unsignedByte">
                                <xs:enumeration value="0"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="inCadPatrocinadoEncerrado" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>
                                O fundo foi encerrado e não serão enviadas contas para este fundo:
                                1 - sim.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:unsignedByte">
                                <xs:enumeration value="1"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="inGIINEncerrado" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>
                                O GIIN foi encerrado no IRS:
                                1 - sim.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:unsignedByte">
                                <xs:enumeration value="1"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FechamentoMovOpFinAnual" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações do Fechamento referentes a Operações Financeiras Anual</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="FechamentoMovOpFinAnual" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          Indicador de Fechamento de Operação Financeira Anual, com ou sem movimento no período:
                          0 - e-Financeira sem movimento de Operação Financeira Anual no período;
                          1 - e-Financeira com movimento de Operação Financeira Anual no período.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="0"/>
                          <xs:enumeration value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required">
              <xs:annotation>
                <xs:documentation>Identificador que representa unicamente o evento no sistema para a mesma empresa e tipo de evento.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:ID">
                  <xs:minLength value="13"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
