schemes/v1_5_0/retornoConsultaListaEFinanceira-v1_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.eFinanceira.gov.br/schemas/retornoConsultaListaEFinanceira/v1_2_0" targetNamespace="http://www.eFinanceira.gov.br/schemas/retornoConsultaListaEFinanceira/v1_2_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eFinanceira">
    <xs:annotation>
      <xs:documentation>Elemento raiz e-Financeira.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="retornoConsultaListaEFinanceira">
          <xs:annotation>
            <xs:documentation>Define a estrutura do retorno da consulta de informacoes do movimento.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dhProcessamento" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Preencher com a data e hora do processamento da solicitação</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="status" type="TStatus" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Status do processamento da consulta.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="identificacaoEmpresaDeclarante" type="TIdeEmpresaDeclarante">
                <xs:annotation>
                  <xs:documentation>Dados da empresa declarante.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="informacoesEFinanceira" type="TInformacoesEFinanceira" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Informacoes EFinanceiras.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEmpresaDeclarante">
    <xs:annotation>
      <xs:documentation>Identificação da empresa declarante responsável pelo evento.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cnpjEmpresaDeclarante" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="14" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TStatus">
    <xs:annotation>
      <xs:documentation>Contém o status atual do Evento(Código e Descrição).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cdRetorno" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descRetorno" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dadosRegistroOcorrenciaEvento" type="TRegistroOcorrencias"  minOccurs="0" >
        <xs:annotation>
          <xs:documentation>Informaçoes de ocorrências registradas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRegistroOcorrencias">
    <xs:annotation>
      <xs:documentation>Define uma ocorrencia encontrada no processamento de um arquivo.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ocorrencias" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tipo" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Contém o tipo da ocorrencia: 1 - Aviso, 2 - Erro</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:totalDigits value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="localizacaoErroAviso" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Campo onde ocorreu o aviso/erro.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="0"/>
                  <xs:maxLength value="100" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="codigo" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Codigo do status da resposta do processamento do evento</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="0"/>
                  <xs:maxLength value="6" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="descricao" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Descricao literal da resposta do processamento do evento.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="0"/>
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TInformacoesEFinanceira">
    <xs:annotation>
      <xs:documentation>Informacoes EFinanceiras</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dhInicial" type="xs:dateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Preencher com a data e hora Inicial</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dhFinal" type="xs:dateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Preencher com a data e hora Final</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="situacaoEFinanceira" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Situação EFinanceira
            0 – Todas
            1 – Em Andamento
            2 – Ativa
            3 - Retificada
            4 - Excluída
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="numeroReciboAbertura" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número do recibo de entrega do evento de abertura.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="idAbertura" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificação do evento de abertura.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="numeroReciboFechamento" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número do recibo de entrega do evento de fechamento.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="idFechamento" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificação do evento de fechamento.</xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>
</xs:schema>


















