manuals/Wsdl/homologacao/WsRecepcao.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sped.fazenda.gov.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://sped.fazenda.gov.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sped.fazenda.gov.br/">
      <s:element name="loteEventos">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceberLoteEventoResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceberLoteEventoSoapIn">
    <wsdl:part name="loteEventos" element="tns:loteEventos" />
  </wsdl:message>
  <wsdl:message name="ReceberLoteEventoSoapOut">
    <wsdl:part name="ReceberLoteEventoResult" element="tns:ReceberLoteEventoResult" />
  </wsdl:message>
  <wsdl:portType name="WsRecepcaoSoap">
    <wsdl:operation name="ReceberLoteEvento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servico para recepcao de um lote de eventos da e-Financeira.</wsdl:documentation>
      <wsdl:input message="tns:ReceberLoteEventoSoapIn" />
      <wsdl:output message="tns:ReceberLoteEventoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsRecepcaoSoap" type="tns:WsRecepcaoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceberLoteEvento">
      <soap:operation soapAction="http://sped.fazenda.gov.br/ReceberLoteEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsRecepcaoSoap12" type="tns:WsRecepcaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceberLoteEvento">
      <soap12:operation soapAction="http://sped.fazenda.gov.br/ReceberLoteEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsRecepcao">
    <wsdl:port name="WsRecepcaoSoap" binding="tns:WsRecepcaoSoap">
      <soap:address location="https://preprod-efinanc.receita.fazenda.gov.br/WsEFinanceira/WsRecepcao.asmx" />
    </wsdl:port>
    <wsdl:port name="WsRecepcaoSoap12" binding="tns:WsRecepcaoSoap12">
      <soap12:address location="https://preprod-efinanc.receita.fazenda.gov.br/WsEFinanceira/WsRecepcao.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>