schemes/v1_0_0/evtFechamentoeFinanceira-v1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.eFinanceira.gov.br/schemas/evtFechamentoeFinanceira/v1_0_0" targetNamespace="http://www.eFinanceira.gov.br/schemas/evtFechamentoeFinanceira/v1_0_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtFechamentoeFinanceira">
          <xs:annotation>
            <xs:documentation>Evento de Fechamento da eFinanceira</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do evento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indRetificacao" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Indicativo de Retificação:
                            1 - Original
                            2 - Retificador
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:pattern value="[1|2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrRecibo" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="15"/>
                          <xs:maxLength value="49" />
                          <xs:pattern value="[0-9]{1,18}[-][0-9]{2}[-][0-9]{3}[-][0-9]{4}[-][0-9]{1,18}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Identificação do ambiente:
                            1 - Produção
                            2 - Homologação
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:pattern value="[1|2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="aplicEmi" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Processo de emissão do evento:
                            1- Emissão com aplicativo da empresa
                            2 - Outros
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:pattern value="[1|2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="verAplic" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Versão do aplicativo de emissão do evento</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideDeclarante" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações de identificação da empresa declarante</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="cnpjDeclarante" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>CNPJ do Declarante</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="14"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>                    
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoFechamento" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações do Fechamento</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="dtInicio" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Data Inicial</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dtFim" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Data Final</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="sitEspecial" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          Indicador de Situação Especial
                          0 = Não se aplica
                          1 = Extinção
                          2 = Fusão
                          3 = Incorporação/Incorporada
                          5 = Cisão Total
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedInt">                          
                          <xs:pattern value="[0|1|2|3|5]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FechamentoPP" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações do Fechamento referentes a Previdência Privada</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>                    
                    <xs:element name="FechamentoMes" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Fechamento do mês</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>                          
                          <xs:element name="anoMesCaixa" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Ano e Mês Caixa</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:length value="6"  />
                                <xs:pattern value="20([0-9][0-9])(0[1-9]|1[0-3])"/> <!--yyyymm aceitando mês 13 também por causa do 13o-->
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>                        
                          <xs:element name="quantArqTrans" minOccurs="1" maxOccurs="1">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Quantidade de Arquivos Transmitidos no Mês</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:unsignedLong">
                                <xs:totalDigits value="9"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>                  
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FechamentoMovOpFin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações do Fechamento referentes a Operações Financeiras</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>                    
                    <xs:element name="ReportavelExterior" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Indicativo de existência de informações a serem reportadas para outros países</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>                          
                          <xs:element name="pais" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>País</xs:documentation>
                            </xs:annotation>                        
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="2"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="reportavel" minOccurs="1" maxOccurs="1">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>                                  
                                  0-Não
                                  1-Sim
                                </xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:unsignedByte">
                                <xs:totalDigits value="1"/>
                                <xs:pattern value="[0|1]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>                  
                    <xs:element name="FechamentoMes" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Fechamento do mês</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>                          
                          <xs:element name="anoMesCaixa" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Ano e Mês Caixa</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:length value="6"  />
                                <xs:pattern value="20([0-9][0-9])(0[1-9]|1[0-3])"/> <!--yyyymm aceitando mês 13 também por causa do 13o-->
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>                          
                          <xs:element name="quantArqTrans" minOccurs="1" maxOccurs="1">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Quantidade de Arquivos Transmitidos no Mês</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:unsignedLong">
                                <xs:totalDigits value="9"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>                          
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>                
                  </xs:sequence>
                </xs:complexType>
              </xs:element> 
            </xs:sequence>
            <xs:attribute name="id" use="required" >
              <xs:annotation>
                <xs:documentation>Identificador que representa unicamente o evento no sistema para a mesma empresa.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:ID">
                  <xs:length value="13" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
