schemes/v1_0_0/evtMovOpFin-v1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.eFinanceira.gov.br/schemas/evtMovOpFin/v1_0_0" targetNamespace="http://www.eFinanceira.gov.br/schemas/evtMovOpFin/v1_0_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eFinanceira">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtMovOpFin">
          <xs:annotation>
            <xs:documentation>Evento de Informações de Movimento de Operações Financeiras</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Identificação de Evento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indRetificacao" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            1 - para arquivo original
                            2 - para arquivo de retificação espontânea
                            3 - para arquivo de retificação a pedido
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:pattern value="[1|2|3]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrRecibo" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="15"/>
                          <xs:maxLength value="49" />
                          <xs:pattern value="[0-9]{1,18}[-][0-9]{2}[-][0-9]{3}[-][0-9]{4}[-][0-9]{1,18}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Identificação do ambiente:
                            1 - Produção
                            2 - Homologação
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:pattern value="[1|2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="aplicEmi" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>
                            Processo de emissão do evento:
                            1- Emissão com aplicativo da empresa
                            2- Outros
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:pattern value="[1|2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="verAplic" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Versão do aplicativo de emissão do evento</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideDeclarante" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Informações de identificação da empresa declarante</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="cnpjDeclarante" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>CNPJ do Declarante</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="14"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideDeclarado" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Identificação do Declarado</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="tpNI" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Tipo de NI</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="[0-9]{1}"/>
                        </xs:restriction>                        
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpDeclarado" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Tipo para fins de intercâmbio de informações</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="8"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="NIDeclarado" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>NI</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="25"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="NIF" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Número de Identificação Fiscal</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NumeroNIF" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Número de Identificação Fiscal</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="25"  />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="PaisEmissaoNIF" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>País de Emissão do Número de Identificação Fiscal</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="2"  />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="NomeDeclarado" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Nome</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="DataNasc" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Data de nascimento</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:date"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="EnderecoLivre" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Endereço</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0"/>
                          <xs:maxLength value="200"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PaisEndereco" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Pais" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>País</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="2"  />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PaisResid" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Pais" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>País</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="2"  />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PaisNacionalidade" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Pais" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>País de Nacionalidade</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="2"  />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Proprietarios" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Informações dos Proprietários</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tpNI" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Tipo de NI</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:unsignedByte">
                                <xs:pattern value="[1;3;5]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="NIProprietario" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>NI do Proprietário</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="25"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="NIF" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Número de Identificação Fiscal</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NumeroNIF" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Número de Identificação Fiscal</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="25"  />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="PaisEmissaoNIF" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>País de Emissão do Número de Identificação Fiscal</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="2"  />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Nome" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Nome</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="100"  />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="EnderecoLivre" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Endereço</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="200"  />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="PaisEndereco" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Pais" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>País</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="2"  />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PaisResid" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Pais" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>País</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="2"  />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PaisNacionalidade" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Pais" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>País de Nacionalidade</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="2"  />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DataNasc" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Data de nascimento</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:date"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Reportavel" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Pais" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>País Reportável</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="2"  />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="mesCaixa" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Operações Financeiras</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="anoMesCaixa" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Mês caixa que está sendo reportado</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="6"  />
                          <xs:pattern value="20([0-9][0-9])(0[1-9]|1[0-3])"/> <!--yyyymm aceitando mês 13 também por causa do 13o-->
                        </xs:restriction>                        
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="movOpFin" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Operações Financeiras</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Conta" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Identificação da Conta</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="MedJudic" minOccurs="0" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation>Identificação de Medidas Judiciais</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="NumProcJud" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Número do Processo Judicial</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedLong">
                                            <xs:totalDigits value="17"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="Vara" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Vara de Tramitação</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedInt">
                                            <xs:totalDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="SecJud" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Seção judiciária</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedInt">
                                            <xs:totalDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="SubSecJud" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Subseção judiciária</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="40"  />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="dtConcessao" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Data da Concessão</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:date"/>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="dtCassacao" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Data da Cassação</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:date"/>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="infoConta" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Informações da Conta</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Reportavel" minOccurs="1" maxOccurs="unbounded">
                                        <xs:annotation>
                                          <xs:documentation>Identificação do país para o qual a conta deve ser reportada</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Pais" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>País</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="2"  />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="tpConta" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Tipo de Conta</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="1"  />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="subTpConta" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Subtipo de Conta</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="3"  />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="tpNumConta" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Tipo do Número da Conta</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="10"  />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="numConta" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Número da Conta</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="50"  />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="tpRelacaoDeclarado" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Tipo de relação do declarado</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedInt">
                                            <xs:totalDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="Intermediario" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Identificação do Intermediário</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="GIIN" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>GIIN (Global Intermediary Identification Number)</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="19"  />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="tpNI" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Tipo de NI</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:unsignedByte">
                                                  <xs:pattern value="[0-9]{1}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="NIIntermediario" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>NI</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="25"  />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="NoTitulares" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Número de Titulares da Conta</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="2" />
                                            <xs:pattern value="[0-9]{1,2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="dtEncerramentoConta" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Data de Encerramento da Conta</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:date"/>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="Fundo" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Identificação do Fundo</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="GIIN" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>GIIN referente ao Fundo de Investimentos</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="19"  />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="CNPJ" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>CNPJ referente ao Fundo de Investimentos</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="14"  />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="BalancoConta" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Informações de Balanço da Conta</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="totCreditos" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Total de Créditos</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="4"/>
                                                  <xs:maxLength value="22" />
                                                  <xs:pattern value="[0-9]{1,19}[,][0-9]{2}"/>
                                                </xs:restriction>
                                             </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="totDebitos" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Total de Débitos</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="4"/>
                                                  <xs:maxLength value="22" />
                                                  <xs:pattern value="[0-9]{1,19}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="totCreditosMesmaTitularidade" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Total de Créditos do mesmo Titular</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="4"/>
                                                  <xs:maxLength value="22" />
                                                  <xs:pattern value="[0-9]{1,19}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="totDebitosMesmaTitularidade" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Total de Débitos do mesmo Titular</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="4"/>
                                                  <xs:maxLength value="22" />
                                                  <xs:pattern value="[0-9]{1,19}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrUltDia" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Saldo no último dia do mês</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="4"/>
                                                  <xs:maxLength value="23" />
                                                  <xs:pattern value="[-]{0,1}[0-9]{1,19}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="PgtosAcum"  minOccurs="1" maxOccurs="unbounded">
                                        <xs:annotation>
                                          <xs:documentation>Informações de Pagamento referentes à Conta</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="tpPgto" minOccurs="1" maxOccurs="unbounded">
                                              <xs:annotation>
                                                <xs:documentation>Tipo de Pagamento</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="10"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="totPgtosAcum" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Total Acumulado de Pagamentos realizados no Ano</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="4"/>
                                                  <xs:maxLength value="22" />
                                                  <xs:pattern value="[0-9]{1,19}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Cambio" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Informações sobre Operações de Câmbio</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="MedJudic" minOccurs="0" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation>Identificação de Medidas Judiciais</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="NumProcJud" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Número do Processo Judicial</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedLong">
                                            <xs:totalDigits value="17"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="Vara" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Vara de Tramitação</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedInt">
                                            <xs:totalDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="SecJud" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Seção judiciária</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedInt">
                                            <xs:totalDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="SubSecJud" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Subseção judiciária</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="40"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="dtConcessao" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Data da Concessão</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:date"/>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="dtCassacao" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Data da Cassação</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:date"/>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="totCompras" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Valor total de Compras</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="4"/>
                                      <xs:maxLength value="22" />
                                      <xs:pattern value="[0-9]{1,19}[,][0-9]{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="totVendas" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Valor total de Vendas</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="4"/>
                                      <xs:maxLength value="22" />
                                      <xs:pattern value="[0-9]{1,19}[,][0-9]{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="totTransferencias" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Valor total de Transferências</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="4"/>
                                      <xs:maxLength value="22" />
                                      <xs:pattern value="[0-9]{1,19}[,][0-9]{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required" >
              <xs:annotation>
                <xs:documentation>Identificador do Evento</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:ID">
                  <xs:length value="13" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>     
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>














